<html> 
    <head> 
        <title>Login Page</title> 
        <link rel="stylesheet" href="../static/css/style.css"> 
    </head> 
    <body> 
        <div class="login-div"> 
            <h2>LogIn</h2> 
            <div class="form-div"> 
                <form action="" method="post">
                    <input type="email" name="email" required placeholder="Email"> <i>Email</i> 
                    <input type="password" name="password" required placeholder="Password"> <i>Password</i> 
                    <a href="../templates/login2.html">
                        <button type="button">Submit</button>
                    </a>
                    <br>
                    <a href="../templates/Register.html">Don't have an account?</a> 
                    <a href="../templates/Register.html">Register</a> 
                </form>
            </div> 
        </div> 
  </body>
</html>