<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Register page</title> 
        <link rel="stylesheet" href="../static/css/style.css">
    </head> 

    <body> 
        <div class="register-div">
            <h2>Registration</h2> 
            <div class="form-div"> 
                <form action="" method="post">
                    <input type="text" name="name" required placeholder="Username"> <i> Username</i> 
                    <input type="email" name="email" required placeholder="Email"> <i>Email</i> 
                    <input type="password" name="password" required placeholder="Password"> <i>Password</i> 
                    <input type="password" name="c_password" required placeholder="Re-enter Password"> <i>Confirm Password</i> 
                    <a href="../templates/register2.html">
                        <button type="button">Submit</button>
                    </a>
                <div class="links-div"> 
                  <a href="../templates/Login.html">Already you have an account?</a> 
                  <a href="../templates/Login.html">Login</a> 
                </div>
                </form>
            </div>
        </div>
    </body>
</html>